@page "/"
@using Pin.HowestMusic.Library

<PageTitle>Howest music</PageTitle>
<h1>Howest Music</h1>

<h2>All songs</h2>
@if(currentTrack == null)
{
    <TrackList Tracks="allTracks" OnAdd="AddTrack" OnEdit="EditTrack" OnDelete="RemoveTrack"></TrackList>
}
else
{
    <TrackForm Track="currentTrack" AvailableGenres="allGenres" OnSave="SaveTrack" OnCancel="Cancel"></TrackForm>
}

<Ad></Ad>

@code {
   
}

