@page "/jsinterop"
@inject ICrudService<Genre> genreService;
@inject ICrudService<Track> trackService;
@inject IJSRuntime jsRuntime;

<h3>JsInterop</h3>

<canvas id="musicchart"></canvas>


@code {
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var tracks = (await trackService.GetAllAsync()).ToArray();
            var genres = (await genreService.GetAllAsync()).ToArray();

            var genreLabels = genres.Select(genre => genre.Name).ToArray();
            var genreCounts = new int[genreLabels.Length];

            for(int i = 0; i < genres.Length; i++)
            {
                genreCounts[i] = tracks.Count(track => track.GenreId == genres[i].Id);
            }

            await jsRuntime.InvokeVoidAsync("displayChart", (object)genreLabels, (object)genreCounts);
        }
    }
}
