@page "/nestedcomponents"
@inject ICrudService<Track> trackService;
<h1>Nested components</h1>

<h2>All time favourite</h2>
<TrackRankingItem Ranking="1" TrackName="The Verve - Bitter sweet symphony"></TrackRankingItem>

<h2>The component above, but nested</h2>
<TrackRanking Title="Favourite songs" Tracks="favouriteTracks"></TrackRanking>
<TrackRanking Title="Favourite songs longer than 4 minutes" Tracks="longTracks"></TrackRanking>

@code {
    private Track[] favouriteTracks;
    private Track[] longTracks;

    protected async override Task OnInitializedAsync()
    {
        TimeOnly maxTime = new TimeOnly(0, 3);
        favouriteTracks = (await trackService.GetAllAsync()).Where(track => track.IsFavorite).ToArray();
        longTracks = (await trackService.GetAllAsync()).Where(track => track.Duration > maxTime && track.IsFavorite).ToArray();
    }
}
