<div class="medal m-5 @GetColor()">
    <div class="position">@Ranking</div>
    <div class="GetRanking">@TrackName</div>
</div>

@code {
    [Parameter]
    public string TrackName { get; set; }

    [Parameter]
    public int Ranking { get; set; } = 0;

    private string GetColor()
    {
            //switch expression, possible since C# 8
            string color = Ranking switch {
                1 => "gold",
                2 => "silver",
                3 => "bronze",
                _ => "none"
            };

        return color;

    }

}
