.medal {
    width: 100px;
    height: 100px;

    text-align: center;

    background-color: lightgrey;
    border-radius: 50%;
}

.medal div {
    overflow: auto;
}

.position {
    font-size: 2rem;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: rosybrown;
}