<div class="d-flex flex-wrap">
    @foreach(var track in Tracks)
    {
        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">@(track.IsFavorite ? "⭐" : "")@track.Name</h5>
                <p class="card-text">By @track.Artist</p>
                <p class="card-text">Duration: @track.Duration</p>
                <button class="btn btn-danger" @onclick="e => OnDelete.InvokeAsync(track)">
                    Delete
                </button>
                <button class="btn btn-warning" @onclick="e => OnEdit.InvokeAsync(track)">
                    Edit
                </button>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Track[] Tracks { get; set; }

    [Parameter]
    public EventCallback OnAdd { get; set; }

    [Parameter]
    public EventCallback<Track> OnEdit { get; set; }

    [Parameter]
    public EventCallback<Track> OnDelete { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}
