<button class="btn btn-primary" @onclick="e => OnAdd.InvokeAsync()">Add track</button>
<table class="table mt-3">
    <thead>
        <tr>
            <th></th>
            <th>Track</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in Tracks)
        {
            <tr>
                <td>
                    <button class="btn btn-warning" @onclick="e => OnEdit.InvokeAsync(track)">
                        Edit
                    </button>
                </td>
                <td>@track.Name - @track.Artist (@track.ReleaseDate.Year)</td>
                <td>
                    <button class="btn btn-danger" @onclick="e => OnDelete.InvokeAsync(track)">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public Track[] Tracks { get; set; }

    [Parameter]
    public EventCallback OnAdd { get; set; }

    [Parameter]
    public EventCallback<Track> OnEdit { get; set; }

    [Parameter]
    public EventCallback<Track> OnDelete { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}
