<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pin.HowestMusic</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nestedcomponents">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nested components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jsinterop">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JS Interop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genericcomponents">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Generic components
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
